@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

@font-face {
  font-family: "Satoshi";
  src: url(/fonts/Satoshi-Variable.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src: url(/fonts/TTF/Zodiak-Variable.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Satoshi", sans-serif;
}

.heading {
  font-family: "Zodiak", sans-serif;
}

.flexcent {
  display: flex;
  justify-items: center;
  align-items: center;
}
